# Create a stable NuGet release.

name: Create release

on:
  workflow_call:
    inputs:
      generate_release_notes:
        description: 'Generates release notes from the commits since the last release and new contributors and adds them to the GitHub page.'
        required: false
        type: boolean
        default: false

jobs:

  compute-version:
    uses: ./.github/workflows/gitversion.yml
    with:
      is_prerelease: false

  release-flow:
    needs: compute-version
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          # Invoking workflow has to pass a personal access token with permission to pull/push on the target repo.
          token: ${{ secrets.PUSH_TO_GITHUB_REPO_PAT }}
          
      - name: Save NuGet version to a variable for easy access.
        run: |
          echo "NUGET_VERSION=${{ needs.compute-version.outputs.package_version }}" >> $GITHUB_ENV

      - name: Setup git config
        run: |
          # Setup bot user who will own the commits. We use the 'GitHub Actions Bot'.
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Create support branch
        if: ${{ needs.compute-version.outputs.semver_raise_type == 'major' }}
        run: |
          echo This is a new major release. Creating support branch for last release.
          git checkout main
          echo Looking for last release...
          # Get the last release tag.
          lastVersion=$( git describe --tags --abbrev=0 --match=release/* )
          # Cut off 'release/' and the fix version.
          supportVersion=${lastVersion/release\//''}
          supportVersion=${supportVersion%.*}
          echo Last release was $lastVersion. Creating branch...
          # Create the support branch at the position of the last release tag.
          git checkout -b support/$supportVersion $lastVersion
          git push origin support/$supportVersion
          echo Done.
          
      - name: Start release branch
        run: |
          git checkout develop
          echo Create release branch release/${{ env.NUGET_VERSION }}
          git checkout -b release/${{ env.NUGET_VERSION }}
          
      - name: Commit and merge changes
        run: |
          # Change version number in all *.csproj files.
          echo Change version number, commit and push.
          find . -type f -name "*.csproj" -exec sed -i 's#<PackageVersion>[[:digit:]]\+\.[[:digit:]]\+\.[[:digit:]]#<PackageVersion>${{ env.NUGET_VERSION }}#g' '{}' \;
          find . -type f -name "*.csproj" -exec sed -i 's#<AssemblyVersion>[[:digit:]]\+\.[[:digit:]]\+\.[[:digit:]]#<AssemblyVersion>${{ env.NUGET_VERSION }}#g' '{}' \;

          git add *.csproj
          git commit -m "Raises version number to ${{ env.NUGET_VERSION }}"
          
          echo Checkout main
          git checkout main
          
          echo Merge release into main
          git merge --no-ff release/${{ env.NUGET_VERSION }}
          
          echo Deleting temporary release branch
          git branch -d release/${{ env.NUGET_VERSION }}
          
          echo Tag release commit
          git tag release/${{ env.NUGET_VERSION }}
          
      - name: Back-merge of main into develop
        run: |
          echo Checkout develop
          git checkout develop
          echo Merge back main into develop
          # We add [skip actions] to the merge commit message to suppress triggering other workflows by the following push.
          git merge --no-ff --no-edit -m "[skip actions] merge back 'main' into 'develop'" main
          
      - name: Push all branches
        run: |
          git checkout main
          # We push branch "main" with all tags so nothing gets lost.
          git push origin main --tags
          git checkout develop
          git push origin develop
          
      # Automatically create release notes on the GitHub page.
      # They are assembled from commit messages and contributors.
      - name: Create Release Notes
        if: inputs.generate_release_notes
        uses: ncipollo/release-action@v1.12.0
        with:
          generateReleaseNotes: true
          tag: release/${{ needs.compute-version.outputs.package_version }}
          
  build-and-publish:
    needs: release-flow
    # Last but not least, run, package and publish from "main" to upload stable NuGet.
    uses: ./.github/workflows/build-and-pack.yml
    with:
      configuration: "Release"
      do_pack: true
      is_prerelease: false
      suffix: "stable"
      publish_target: "nuget.org"
    secrets: inherit
